<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}{% endblock %}</title>
    <!-- loader ---
    <link href="{{ asset('BackOffice/assets/css/pace.min.css') }}" rel="stylesheet"/>
    <script src="{{ asset('BackOffice/assets/js/pace.min.js') }}"></script> -->
    <!--favicon-->
    <link rel="icon" href="{{ asset('BackOffice/assets/images/favicon.ico') }}" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="{{ asset('BackOffice/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet"/>
    <!-- simplebar CSS-->
    <link href="{{ asset('BackOffice/assets/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link href="{{ asset('BackOffice/assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <!-- animate CSS-->
    <link href="{{ asset('BackOffice/assets/css/animate.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link href="{{ asset('BackOffice/assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link href="{{ asset('BackOffice/assets/css/sidebar-menu.css') }}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Custom Style-->
    <link href="{{ asset('BackOffice/assets/css/app-style.css') }}" rel="stylesheet"/>

</head>

<body class="bg-theme bg-theme1">

<!-- Start wrapper-->
<div id="wrapper">

    <!--Start sidebar-wrapper-->
    <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
        <div class="brand-logo">
            <a href="#">
                <img src="{{ asset('BackOffice/assets/images/logo-icon.png') }}" class="logo-icon" alt="logo icon">
                <h5 class="logo-text">Educati Admin</h5>
            </a>
        </div>
        <ul class="sidebar-menu do-nicescrol">
            <li class="sidebar-header">MAIN NAVIGATION</li>
            <li>
                <a href="index.html">
                    <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-menu do-nicescrol">
                <a href="#">
                    <i class="zmdi zmdi-pages"></i> <span>Products Manager   </span> <i class="icon-arrow-down"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="{{ path('add_product') }}">
                            <i class="zmdi zmdi-plus-circle-o-duplicate"></i> <span>Add product</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('list_product') }}">
                            <i class="zmdi zmdi-view-list"></i> <span>Product List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-menu do-nicescrol">
                <a href="#">
                    <i class="zmdi zmdi-format-subject"></i> <span>Category Manager   </span> <i
                            class="icon-arrow-down"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="{{ path('add_category') }}">
                            <i class="zmdi zmdi-plus-circle-o-duplicate"></i> Add Category</a>
                    </li>
                    <li>
                        <a href="{{ path('list_category') }}">
                            <i class="zmdi zmdi-view-list"></i> <span>Category List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- TO DO LATER -->
            <!-- <li class="sidebar-menu do-nicescrol">
                <a href="#">
                    <i class="zmdi zmdi-pages"></i> <span>Exam Manager   </span>     <i class="icon-arrow-down"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="#">
                            <i class="zmdi zmdi-plus-circle-o-duplicate"></i> <span>Add Exam</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="zmdi zmdi-view-list"></i> <span>Product List</span>
                        </a>
                    </li>
                </ul>
            </li>-->
            <!------------------>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-grid"></i> <span>Orders</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="zmdi zmdi-calendar-check"></i> <span>Calendar</span>
                    <small class="badge float-right badge-light">New</small>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-account"></i> <span>Users</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="zmdi zmdi-accounts-alt"></i> <span>Teachers</span>
                </a>
            </li>

<!--
            <li>
                <a href="login.html" target="_blank">
                    <i class="zmdi zmdi-lock"></i> <span>Login</span>
                </a>
            </li>

            <li>
                <a href="register.html" target="_blank">
                    <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
                </a>
            </li>

            <li class="sidebar-header">LABELS</li>
            <li><a href="javaScript:void();"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a>
            </li>
            <li><a href="javaScript:void();"><i class="zmdi zmdi-chart-donut text-success"></i> <span>Warning</span></a>
            </li>
            <li><a href="javaScript:void();"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a></li>
-->
        </ul>

    </div>
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header class="topbar-nav">
        <nav class="navbar navbar-expand fixed-top">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link toggle-menu" href="javascript:void();">
                        <i class="icon-menu menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <form class="search-bar">
                        <input type="text" class="form-control" placeholder="Enter keywords">
                        <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav align-items-center right-nav-link">
                <li class="nav-item dropdown-lg">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                       href="javascript:void();">
                        <i class="fa fa-envelope-open-o"></i></a>
                </li>
                <li class="nav-item dropdown-lg">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                       href="javascript:void();">
                        <i class="fa fa-bell-o"></i></a>
                </li>
                <li class="nav-item language">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                       href="javascript:void();"><i class="fa fa-flag"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item"><i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                        <li class="dropdown-item"><i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                        <li class="dropdown-item"><i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                        <li class="dropdown-item"><i class="flag-icon flag-icon-de mr-2"></i> German</li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                        <span class="user-profile"><img src="https://via.placeholder.com/110x110" class="img-circle"
                                                        alt="user avatar"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item user-details">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <div class="avatar"><img class="align-self-start mr-3"
                                                             src="https://via.placeholder.com/110x110"
                                                             alt="user avatar"></div>
                                    <div class="media-body">
                                        <h6 class="mt-2 user-title">Admin</h6>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-lock"></i> Change Password</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!--End topbar header-->

    <div class="clearfix"></div>
    <div class="content-wrapper">
    {% block container %} {% endblock %}
    </div>
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <!--Start footer-->
    <footer class="footer">
        <div class="container">
            <div class="text-center">
                Copyright © 2021 Educati
            </div>
        </div>
    </footer>
    <!--End footer-->

    <!--start color switcher-->
    <div class="right-sidebar">
        <div class="switcher-icon">
            <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
        </div>
        <div class="right-sidebar-content">

            <p class="mb-0">Gaussion Texture</p>
            <hr>

            <ul class="switcher">
                <li id="theme1"></li>
                <li id="theme2"></li>
                <li id="theme3"></li>
                <li id="theme4"></li>
                <li id="theme5"></li>
                <li id="theme6"></li>
            </ul>

            <p class="mb-0">Gradient Background</p>
            <hr>

            <ul class="switcher">
                <li id="theme7"></li>
                <li id="theme8"></li>
                <li id="theme9"></li>
                <li id="theme10"></li>
                <li id="theme11"></li>
                <li id="theme12"></li>
                <li id="theme13"></li>
                <li id="theme14"></li>
                <li id="theme15"></li>
            </ul>

        </div>
    </div>
    <!--end color switcher-->

</div><!--End wrapper-->

<!-- Bootstrap core JavaScript-->
<script src="{{ asset('BackOffice/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('BackOffice/assets/js/popper.min.js') }}"></script>
<script src="{{ asset('BackOffice/assets/js/bootstrap.min.js') }}"></script>

<!-- simplebar js -->
<script src="{{ asset('BackOffice/assets/plugins/simplebar/js/simplebar.js') }}"></script>
<!-- sidebar-menu js -->
<script src="{{ asset('BackOffice/assets/js/sidebar-menu.js') }}"></script>
<!-- loader scripts -->
<script src="{{ asset('BackOffice/assets/js/jquery.loading-indicator.js') }}"></script>
<!-- Custom scripts -->
<script src="{{ asset('BackOffice/assets/js/app-script.js') }}"></script>
<!-- Chart js -->

<script src="{{ asset('BackOffice/assets/plugins/Chart.js/Chart.min.js') }}"></script>

<!-- Index js -->
<script src="{{ asset('BackOffice/assets/js/index.js') }}"></script>


</body>
</html>
