<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <!-- Title-->
  <title>
    Access Denied !
  </title>

  <!-- SEO Meta-->
  <meta name="description" content="Education theme by EchoTheme" />
  <meta
          name="keywords"
          content="HTML5 Education theme, responsive HTML5 theme, bootstrap 4, Clean Theme"
  />
  <meta name="author" content="education" />

  <!-- viewport scale-->
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />

  <!-- Favicon and Apple Icons-->
  <link
          rel="icon"
          type="image/x-icon"
          href="{{ asset('FrontOffice/assets/img/favicon/favicon.ico') }}"
  />
  <link rel="shortcut icon" href="{{ asset('FrontOffice/assets/img/favicon/114x114.png') }}" />
  <link
          rel="apple-touch-icon-precomposed"
          href="{{ asset('FrontOffice/assets/img/favicon/96x96.png') }}"
  />

  <!--Google fonts-->
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700%7CWork+Sans:400,500"
  />

  <!-- Icon fonts -->
  <script
          src="https://kit.fontawesome.com/690c596bf5.js"
          crossorigin="anonymous"
  ></script>
  <link
          rel="stylesheet"
          href="{{ asset('FrontOffice/assets/fonts/themify-icons/css/themify-icons.css') }}"
  />

  <!-- stylesheet-->
  <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/vendors.bundle.css') }}" />
  <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/style.css') }}" />
</head>

<body>
<section class="height-100vh flex-center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-primary display-1">403</h1>
        <h2 class="mb-4">
          Acces Forbidden !
          <i class="fas fa-exclamation-triangle text-warning" aria-hidden="true"></i>
        </h2>
        <p>
          Sorry you are not allowed to view this page
        </p>
        <a href="{{ path('educati') }}" class="btn btn-rounded btn-primary mt-5"
        >Back To Home</a
        >
      </div>
    </div>
    <!-- END row-->
  </div>
  <!-- END container-->
</section>
</body>
</html>
